<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930473151980-3gmv78p0cmjdcr0uu0oja7v98vi7nc62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930473151980-3gmv78p0cmjdcr0uu0oja7v98vi7nc62</string>
	<key>API_KEY</key>
	<string>AIzaSyAfayfVHuZH-0Af8-XWUB7pn9GUeYCeHok</string>
	<key>GCM_SENDER_ID</key>
	<string>930473151980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devezequias.iOSByCodersTecChallenge</string>
	<key>PROJECT_ID</key>
	<string>iosbycoderstecchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>iosbycoderstecchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930473151980:ios:cc9f164af785fcfd9e44c9</string>
</dict>
</plist>